<ion-view view-title="首页">
    <ion-content>
        <ion-slide-box does-continue="true" auto-play="true" show-pager="true">
            <ion-slide>
                <div class="box">
                    <img src="../img/banner1.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <img src="../img/banner2.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <img src="../img/banner3.jpg">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="box">
                    <img src="../img/banner4.jpg">
                </div>
            </ion-slide>
        </ion-slide-box>

        <div class="padding">
            <div class="list card">
                <div class="item item-divider">scroll</div>
                <a class="item item-body" href="#/tab/dash/scroll">
                    <div>
                    滚动刷新
                    </div>
                </a>
            </div>
            <div class="list card">
                <div class="item item-divider">refresher</div>
                <a class="item item-body" href="#/tab/dash/refresh">
                    <div>
                    下拉刷新
                    </div>
                </a>
            </div>
            <div class="list card">
                <div class="item item-divider">Upcoming</div>
                <div class="item item-body">
                    <div>
                    You have <b>29</b> meetings on your calendar tomorrow.
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
