@import "libs/ionic.less";

ion-slide{
    .box{
        img{
            width: 100%;
        }
    }
}



@font-face{
    font-family: 'myfont';
    src: url('fonts/meng.TTF');
}
.ziti{
    font-family: 'myfont';
}