/** 颜色 */
/** 字体 */
/** 喜闻乐见 */
/** 网页变量 */
/* .bar.bar-dark {
    border-color: #111;
    background-color: @red;
    background-image: linear-gradient(0deg, @red, @red 50%, transparent 50%);
    color: #fff;
} */
ion-slide .box img {
  width: 100%;
}
@font-face {
  font-family: 'myfont';
  src: url('SIMLI.TTF');
}
.ziti {
  font-family: 'myfont';
}
