/* Empty. Add your own CSS if you like */

ion-slide{
    text-align:center;
}
ion-slide .box{
    height:100px;
}


@font-face{
    font-family: 'myfont';
    src: url('SIMLI.TTF');
}
.ziti{
    font-family: 'myfont';
}